@import url('theme.css');

.prompt-controls {
    display: flex;
    align-items: center;
    gap: var(--gap4);
}

.prompt-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap4);
}

.stat {
    padding-right: var(--gap);

    &[title] {
        cursor: help;
    }

    .value {
        color: var(--primary-color);
    }
}

.welcome {
    text-align: center;
    padding-bottom: var(--gap4);

    & .welcome__message {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: var(--gap4);
        background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--primary-color));
        background-size: 200% auto;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: gradient-animation 4s ease infinite;
    }
}

#example-prompts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap2);
    align-items: center;
    justify-content: center;
}

/* Inspired by https://css-loaders.com/dots/ */
.loading-animation {
    margin: 0;
    width: 3em;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, var(--border-color) 90%, transparent);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: loader-animation 1s infinite linear;
}
@keyframes loader-animation {
    20% {
        background-position:
            0% 0%,
            50% 50%,
            100% 50%;
    }
    40% {
        background-position:
            0% 100%,
            50% 0%,
            100% 50%;
    }
    60% {
        background-position:
            0% 50%,
            50% 100%,
            100% 0%;
    }
    80% {
        background-position:
            0% 50%,
            50% 50%,
            100% 100%;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.prompt-section {
    padding: var(--gap4);
    margin: var(--gap) 0;
    border: var(--default-border);
    border-radius: var(--border-radius);

    textarea {
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 0;

        &:focus {
            outline: none;
        }
    }

    label {
        margin-top: 0;
    }

    &:focus-within {
        border-color: var(--text-color);
        outline: -webkit-focus-ring-color auto 1px;
    }
}

.alex-logo {
    height: 1.7em;
    vertical-align: middle;
}
