:root {
    --brand-red: #f86262;
    --brand-green: #1bc554;
    --brand-orange: #ffbc52;
    --brand-blue: #47a9ff;
    --primary-color: var(--brand-orange);
    --secondary-color: var(--brand-blue);
    --interactive-color: var(--secondary-color);
    --background-color: #1b1c1d;
    --text-color: #fff;
    --border-color: #4a5050;
    --user-chat-background: #333537;
    --button-background: #4a5050;
    --button-activated-background: #5d6464;
    --gap: 0.25em;
    --gap2: calc(var(--gap) * 2);
    --gap3: calc(var(--gap) * 3);
    --gap4: calc(var(--gap) * 4);
    --border-radius: var(--gap4);
    --animation-speed: 0.2s;

    @media (prefers-color-scheme: light) {
        --background-color: #fafcff;
        --text-color: #1b1c1d;
        --border-color: #ccc;
        --user-chat-background: #f0f0f0;
        --button-background: #e0e0e0;
        --button-activated-background: #d0d0d0;

        button:hover {
            filter: brightness(85%);
        }
    }
}

*:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: var(--gap4);

    @media (min-width: 500px) {
        font-size: 100%;
    }
}

* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;

    &[hidden] {
        display: none !important;
    }
}

.subtle-text {
    opacity: 0.7;
}

.v-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    box-sizing: border-box;
}

.grow-flex {
    flex-grow: 1;
}

th {
    text-align: left;
}

a {
    color: var(--interactive-color);
    text-decoration: none;
}

p {
    margin-block-start: var(--gap4);
    margin-block-end: var(--gap4);
}

label {
    font-weight: bold;
    display: block;
    margin-top: var(--gap2);
}

button {
    font-size: inherit;
    border-radius: var(--border-radius);
    background-color: var(--button-background);
    border: none;
    color: var(--text-color);
    padding: 0.5em 1em;
    cursor: pointer;
    transition: filter var(--animation-speed) ease-in-out;

    &.cta {
        background-color: var(--interactive-color);
    }

    &:hover {
        filter: brightness(125%);
        box-shadow: 0 0 var(--gap2) 0 var(--interactive-color);
    }
}

.button-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap2);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap2);
}

fieldset {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--gap4);
    margin: 0;
}

select,
textarea,
input[type='text'] {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: transparent;
    padding: var(--gap4);
    margin-top: var(--gap2);
    margin-bottom: var(--gap4);
    color: inherit;
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
}

input[type='range'] {
    width: 100%;
}

option {
    background-color: var(--background-color);
    color: inherit;
}

textarea {
    resize: vertical;
}

hr {
    margin-block-start: var(--gap4);
    margin-block-end: var(--gap4);
    border: none;
    border-top: solid 1px var(--border-color);

    &.spacer {
        border: none;
        margin-block-end: 0;

        &.spacer--4 {
            margin-block-start: var(--gap4);
        }
    }
}

.prompt-controls {
    display: flex;
    align-items: center;
    gap: var(--gap4);
}

.prompt-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap4);
}

.stat {
    padding-right: var(--gap);

    &[title] {
        cursor: help;
    }

    .value {
        color: var(--primary-color);
    }
}

.welcome {
    text-align: center;
    padding-bottom: var(--gap4);

    & .welcome__message {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: var(--gap4);
        background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--primary-color));
        background-size: 200% auto;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: gradient-animation 4s ease infinite;
    }
}

#example-prompts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap2);
    align-items: center;
    justify-content: center;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap4);
    padding: var(--gap4) 0;
}

.chat-container__chat {
    & p {
        &:first-child {
            margin-block-start: 0;
        }

        &:last-child {
            margin-block-end: 0;
        }
    }

    img {
        max-width: 100%;
    }

    &.chat-container__chat--user {
        overflow-wrap: anywhere;
        margin-top: var(--gap4);
        padding: var(--gap4);
        background-color: var(--user-chat-background);
        align-self: flex-end;
        border-radius: var(--border-radius);
        border-top-right-radius: var(--gap);
    }

    .chat-container__chat__token-count {
        font-size: 0.75em;
        font-style: italic;
        text-align: right;
        display: block;
    }

    &.chat-container__chat--imported-content {
        background-color: var(--user-chat-background);
        padding: var(--gap4);
        border-radius: var(--border-radius);

        & img {
            display: inline-block;
            height: 1em;
            vertical-align: middle;
            margin-right: var(--gap);
        }
    }
}

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1em;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: transparent;
    box-sizing: border-box;

    &::-webkit-progress-bar {
        background-color: transparent;
        border-radius: var(--border-radius);
    }

    &::-webkit-progress-value {
        background-color: var(--primary-color);
        border-radius: var(--border-radius);
        transition: width var(--animation-speed) ease-in-out;
    }
}

meter {
    width: 100%;
    box-sizing: border-box;

    &::-webkit-meter-bar {
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
    }
}

/* Inspired by https://css-loaders.com/dots/ */
.loading-animation {
    margin: 0;
    width: 3em;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, var(--border-color) 90%, transparent);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: loader-animation 1s infinite linear;
}
@keyframes loader-animation {
    20% {
        background-position:
            0% 0%,
            50% 50%,
            100% 50%;
    }
    40% {
        background-position:
            0% 100%,
            50% 0%,
            100% 50%;
    }
    60% {
        background-position:
            0% 50%,
            50% 100%,
            100% 0%;
    }
    80% {
        background-position:
            0% 50%,
            50% 50%,
            100% 100%;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.prompt-section {
    padding: var(--gap4);
    margin: var(--gap) 0;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    textarea {
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 0;

        &:focus {
            outline: none;
        }
    }

    label {
        margin-top: 0;
    }

    &:focus-within {
        border-color: var(--text-color);
        outline: -webkit-focus-ring-color auto 1px;
    }
}

footer {
    text-align: center;
    font-size: 0.85em;
    padding-top: var(--gap);

    .flag {
        height: 1em;
    }
}

.alex-logo {
    height: 1.7em;
    vertical-align: middle;
}

.box {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-left-width: 0.3em;
    margin: var(--gap2) 0;
    color: var(--text-color);
    padding: var(--gap);

    &.box--info {
        background-color: rgb(from var(--brand-blue) r g b / 0.2);
        border-color: var(--brand-blue);

        &::before {
            content: 'ℹ️ ';
        }
    }

    &.box--warn {
        background-color: rgb(from var(--brand-orange) r g b / 0.2);
        border-color: var(--brand-orange);

        &::before {
            content: '⚠️ ';
        }
    }

    &.box--error {
        background-color: rgb(from var(--brand-red) r g b / 0.2);
        border-color: var(--brand-red);

        &::before {
            content: '🔥 ';
        }
    }
}

.material-symbols-outlined {
    font-size: 1.4em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
}
