:host {
    display: flex;
    flex-direction: column;
    gap: var(--gap4);
    margin-block-start: var(--gap2);
    overflow-wrap: anywhere;
}

:host(.user) {
    margin-block-start: var(--gap4);
    padding: var(--gap4);
    background-color: var(--user-chat-background);
    align-self: flex-end;
    border-radius: var(--border-radius);
    border-top-right-radius: var(--gap);
    max-width: 90%;
}

#favicon {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    margin-right: var(--gap);
}

#content {
    & p {
        &:first-child {
            margin-block-start: 0;
        }

        &:last-child {
            margin-block-end: 0;
        }
    }
}

img {
    max-width: 100%;
}

a {
    color: var(--interactive-color);
    text-decoration: none;
}

#token-count {
    font-size: 0.75em;
    opacity: 0.8;
    font-style: italic;
    text-align: right;
    display: block;
}

#imported-content {
    background-color: var(--user-chat-background);
    padding: var(--gap4);
    border-radius: var(--border-radius);
}

[visible='false'] {
    display: none;
}
